/*
* Navigation Bar
*/

.navbar-default .navbar-brand,
.navbar-default {
  background-color: #0000FF;
  font-size: 125%;
}

.navbar-default {
	min-height: 50px;
    	border: none;
    	border-radius: 0;
}

/*Spacing*/
.megaSpacer{
	height: 75px;
}

.largeSpacer{
	height: 50px;
}

.mediumSpacer{
	height: 25px;
}

.smallSpacer{
	height: 10px;
}

/*Body*/

body{
    padding-top: 50px;
    font-size: 12pt;
}

{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}